.btn {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	color: @c-white;
	padding: 5px 20px;
	min-width: 170px;
	border: 1px solid @c-gold;
	display: inline-block;

	i {
		vertical-align: middle;
		margin-left: 10px;
	}

	&_revert {
		color: @c-black;
	}
}